body {
	margin: 20px;
}

#demo {
	margin-right: 300px;
	font-size: 13px;
	line-height: 1.6;
}
#demo hr {
	margin: 15px 0;
}

#gNavi {
	padding: 10px;
	width: 260px;
	background: #EFEFEF;
	position: fixed;
	top: 100px;
	right: 20px;
	font-size: 14px;
}

p {
	margin-bottom: 1em;
}

.grid-sample .grid-row,
.grid-sample .grid-table {
	margin-bottom: 5px;
}
.grid-sample .grid-col {
	height: 40px;
	border: 1px solid #ccc;
	text-align: center;
}
.grid-sample .grid-table .grid-col {
	vertical-align: middle;
}
