</head>
<body>

<div id="container">
	<header id="header">
		<div class="wrapConts">
			<h1><a href="/"class="logo">Barebone</a></h1>

			<ul class="otherNavi list list-horizon">
				<li class="contact"><a href="">お問い合わせ</a></li>
				<li class="sitemap"><a href="">サイトマップ</a></li>
			</ul>
		</div>
	</header>

	<nav id="gNavi">
		<ul class="wrapConts list list-horizon">
			<li><a href="">Layout</a></li>
			<li><a href="">List</a></li>
			<li><a href="">Panel</a></li>
			<li><a href="">Button</a></li>
			<li><a href="">Label</a></li>
			<li><a href="">Text</a></li>
			<li><a href="">JavaScript</a></li>
		</ul>
	</nav>
