@charset "UTF-8";
/*------------------------------------------------------------
	角丸
------------------------------------------------------------*/
.radius {
	border-radius: .5em;
}

.radius-sm {
	border-radius: .25em;
}

.radius-lg {
	border-radius: .75em;
}
