@charset "UTF-8";
/*------------------------------------------------------------
	グリッドシステム
------------------------------------------------------------*/
.grid-split {
	@include cf;
	> * { float: left; box-sizing: border-box; }
	&.split-2 > * { width: 50%; }
	&.split-3 > * { width: 33.3333333%; }
	&.split-4 > * { width: 25%; }
	&.split-5 > * { width: 20%; }
	&.split-6 > * { width: 16.66666667%; }
	&.split-7 > * { width: 14.28571428%; }
	&.split-8 > * { width: 12.5%; }
	&.split-9 > * { width: 11.11111111%; }
	&.split-10 > * { width: 10%; }
}

.grid-split-table {
	display: table;
	> * { display: table-cell; }
	&.split-2 > * { width: 50%; }
	&.split-3 > * { width: 33.3333333%; }
	&.split-4 > * { width: 25%; }
	&.split-5 > * { width: 20%; }
	&.split-6 > * { width: 16.66666667%; }
	&.split-7 > * { width: 14.28571428%; }
	&.split-8 > * { width: 12.5%; }
	&.split-9 > * { width: 11.11111111%; }
	&.split-10 > * { width: 10%; }
}

.grid-row {
	> .grid-col {
		box-sizing: border-box;
		float: left;
		&.col-1 { width: 8.33333333%; }
		&.col-2 { width: 16.66666667%; }
		&.col-3 { width: 25%; }
		&.col-4 { width: 33.3333333%; }
		&.col-5 { width: 41.66666667%; }
		&.col-6 { width: 50%; }
		&.col-7 { width: 58.33333333%; }
		&.col-8 { width: 66.66666667%; }
		&.col-9 { width: 75%; }
		&.col-10 { width: 83.33333333%; }
		&.col-11 { width: 91.66666667%; }
		&.col-12 { width: 100%; }
	}
	@include cf;
}

.grid-table {
	display: table;
	.grid-col {
		box-sizing: border-box;
		display: table-cell;
		&.col-1 { width: 8.33333333%; }
		&.col-2 { width: 16.66666667%; }
		&.col-3 { width: 25%; }
		&.col-4 { width: 33.3333333%; }
		&.col-5 { width: 41.66666667%; }
		&.col-6 { width: 50%; }
		&.col-7 { width: 58.33333333%; }
		&.col-8 { width: 66.66666667%; }
		&.col-9 { width: 75%; }
		&.col-10 { width: 83.33333333%; }
		&.col-11 { width: 91.66666667%; }
		&.col-12 { width: 100%; }
	}
}
