<% include assets/ejs_template/_head %>
<% include assets/ejs_template/_header %>

	<div id="pagePath">
		<ol class="wrapConts list list-horizon">
			<li class="root"><a href="">Barebone</a></li>
			<li>ページタイトル</li>
		</ol>
	</div>

	<div id="main">
		<div class="wrapConts column">
			<div id="conts">
				<section class="sentence">
					<h1 class="ttl-page-l1">Bareboneってなに？</h1>
					<p>
						デザインパーツのコンポーネント化とよくあるレイアウトパターンのテンプレート化により、プラモデルのようなイメージでウェブサイトのレイアウトを組み立てることが出来る、CSSフレームワークのようなものです。
					</p>
					<p>
						ひとつ勘違いしないでいただきたいのは、このBareboneが提供するものは<span class="text-warning">レイアウトの組み立てまで</span>ということです。そこから色を付け、装飾を付け、動きを付け…といったカスタマイズはしなければいけません。
					</p>
				</section>

			</div><!-- /#conts -->

			<div id="sideBar" class="right">
				<aside class="panel">
					<h1 class="panel-ttl">お知らせ</h1>
					<div class="panel-inner">
						<dl class="list list-news">
							<dt>2014/08/23<span class="label label-red label-xsmall">お知らせ</span></dt>
							<dd>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>

							<dt>2014/08/23<span class="label label-red label-xsmall">お知らせ</span></dt>
							<dd>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
						</dl>
					</div>
				</aside>

			</div><!-- /#sideBar -->
		</div><!-- /.wrapConts -->
	</div><!-- /#main -->

<% include assets/ejs_template/_footer %>
